apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -dev

resources:
- ../base
- ingress-config.yml

images:
- name: docker-registry.public.dvbern.ch/kibon/stip/gesuch-app
  newTag: f1339420

# TODO: OpenShift
# patches:
# - path: route-patch.yml
#  target:
#    kind: Route

replacements:
  - source:
      fieldPath: data.host
      kind: ConfigMap
      name: ingress-config
    targets:
      - fieldPaths:
          - spec.rules.0.host
        select:
          kind: Ingress
          name: www
