// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// override boostrap variables + add custom
@import 'theme';
@include dv-variables;

@import 'components';

@import 'bootstrap/scss/bootstrap';

@import 'bootstrap-overrides';
@import 'material-overrides';

// add your global styles here

* {
  outline: none;
}

// Typeahead popup (ng-bootstrap with custom popup class)
.dv-typeahead-popup {
  width: 100%;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

// Typeahead "Bitte wählen" soll gleich aussehen wie bei Dropdowns
.form-control[role='combobox']::placeholder {
  color: #000;
}

.dv-typeahead-clear-btn.btn {
  position: absolute;
  top: var(--dv-border-width);
  right: 34px;
  height: calc(100% - var(--dv-border-width) - var(--dv-border-width));
  border-color: transparent;
  background: #fff;
  border-radius: 0;
  color: #666;
  padding: 0 0.5rem 1px;
  box-shadow: none;

  &:hover,
  &:active {
    color: #000;
    border-color: transparent;
    background: #fff;
  }
}
